.row {
	display: flex;
	flex-wrap: wrap;
}

.container {
	text-align: center;
	width: 100%;
}

.thumbnail {
	height: 209px;
	width: 263px;
}

.jumbotron {
	background: #232323;
	margin: 0 auto;
	width: 100%;
}

.navbar {
	background: #232323;
	color: white;
}

.thumbnail {
	background: #232323;
}

.form-control {
	max-width: 20%;
	margin: 0 auto;
}

.submit {
	margin: 25px 0 0 0;
}

h4 {
	color: white;
}

body {
	align-items: center;
	text-align: center;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
	color: white;
}

img {
	max-height: 160px;
}